In [1]:
import pandas as pd
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeClassifier
import seaborn as sns
%pylab inline

Populating the interactive namespace from numpy and matplotlib

E:\anaconda\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
train_df=pd.read_csv(r'C:\Users\weiping\Desktop\nlp\train.csv',encoding='gbk')
test_df=pd.read_csv(r'C:\Users\weiping\Desktop\nlp\test.csv',encoding='gbk')

In [3]:
train_df

       编号  性别  出生年份  体重指数          糖尿病家族史   舒张压  口服耐糖量测试  胰岛素释放实验  肱三头肌皮褶厚度
0       1   0  1987  33.1             无记录  72.0    6.586    24.16      2.94
1       2   0  1998  20.6  叔叔或者姑姑有一方患有糖尿病  68.0    3.861     0.00      0.00
2       3   1  1979  42.1             无记录  98.0    5.713     0.00      3.53
3       4   0  1999  34.6             无记录  66.0    4.684     0.00      3.14
4       5   0  1997  27.7             无记录  89.0    7.948    14.65      2.65
..    ...  ..   ...   ...             ...   ...      ...      ...       ...
995   996   1  1990  50.1             无记录  87.0    5.125     0.00      0.00
996   997   0  1992  56.3             无记录  87.0    7.695     0.00      0.00
997   998   1  1992  23.8             无记录  85.0    3.194     7.50      0.00
998   999   0  2000  53.1             无记录  95.0    8.226     7.55      0.00
999  1000   1  1980  46.9             无记录  88.0    4.802     0.00      0.00

[1000 rows x 9 columns]

In [4]:
test_df

,编号,性别,出生年份,体重指数,糖尿病家族史,舒张压,口服耐糖量测试,胰岛素释放实验,肱三头肌皮褶厚度,患有糖尿病标识
0,1,0,1996,30.1,无记录,106.0,3.818,7.89,0.0,0
1,2,0,1988,27.5,无记录,84.0,-1.000,0.00,14.7,0
2,3,1,1988,36.5,无记录,85.0,7.131,0.00,40.1,1
3,4,1,1992,29.5,无记录,91.0,7.041,0.00,0.0,0
4,5,0,1998,42.0,叔叔或者姑姑有一方患有糖尿病,NaN,7.134,0.00,0.0,1
...,...,...,...,...,...,...,...,...,...,...
5065,5066,1,1992,36.4,父母有一方患有糖尿病,95.0,3.102,0.00,0.0,0
5066,5067,1,1991,37.1,叔叔或姑姑有一方患有糖尿病,94.0,6.207,6.77,0.0,0
5067,5068,0,1975,25.4,无记录,90.0,7.343,0.00,0.0,0
5068,5069,0,1972,28.5,父母有一方患有糖尿病,101.0,6.268,8.99,0.0,0
5069,5070,0,1976,49.9,无记录,88.0,3.732,29.71,0.0,1

In [5]:
print(train_df.shape, test_df.shape)
print(train_df.dtypes, test_df.dtypes)

(1000, 9) (5070, 10)
编号            int64
性别            int64
出生年份          int64
体重指数        float64
糖尿病家族史       object
舒张压         float64
口服耐糖量测试     float64
胰岛素释放实验     float64
肱三头肌皮褶厚度    float64
dtype: object 编号            int64
性别            int64
出生年份          int64
体重指数        float64
糖尿病家族史       object
舒张压         float64
口服耐糖量测试     float64
胰岛素释放实验     float64
肱三头肌皮褶厚度    float64
患有糖尿病标识       int64
dtype: object

In [6]:
train_df.isnull().mean(axis=0)

编号          0.000
性别          0.000
出生年份        0.000
体重指数        0.000
糖尿病家族史      0.000
舒张压         0.049
口服耐糖量测试     0.000
胰岛素释放实验     0.000
肱三头肌皮褶厚度    0.000
dtype: float64

In [7]:
test_df.isnull().mean(axis=0)

编号          0.000000
性别          0.000000
出生年份        0.000000
体重指数        0.000000
糖尿病家族史      0.000000
舒张压         0.048718
口服耐糖量测试     0.000000
胰岛素释放实验     0.000000
肱三头肌皮褶厚度    0.000000
患有糖尿病标识     0.000000
dtype: float64

In [8]:
train_df.corr()

,编号,性别,出生年份,体重指数,舒张压,口服耐糖量测试,胰岛素释放实验,肱三头肌皮褶厚度
编号,1.000000,0.086683,-0.084127,0.081566,0.299726,-0.023484,-0.159331,0.021592
性别,0.086683,1.000000,-0.126892,0.061776,0.109264,-0.004251,-0.044804,0.009451
出生年份,-0.084127,-0.126892,1.000000,-0.049878,-0.152437,-0.041569,0.018354,-0.041952
体重指数,0.081566,0.061776,-0.049878,1.000000,0.163393,-0.037028,-0.049114,0.068921
舒张压,0.299726,0.109264,-0.152437,0.163393,1.000000,-0.039442,-0.181070,0.076444
口服耐糖量测试,-0.023484,-0.004251,-0.041569,-0.037028,-0.039442,1.000000,0.071108,-0.000536
胰岛素释放实验,-0.159331,-0.044804,0.018354,-0.049114,-0.181070,0.071108,1.000000,-0.036362
肱三头肌皮褶厚度,0.021592,0.009451,-0.041952,0.068921,0.076444,-0.000536,-0.036362,1.000000

In [9]:
train_df.head()

   编号  性别  出生年份  体重指数          糖尿病家族史   舒张压  口服耐糖量测试  胰岛素释放实验  肱三头肌皮褶厚度
0   1   0  1987  33.1             无记录  72.0    6.586    24.16      2.94
1   2   0  1998  20.6  叔叔或者姑姑有一方患有糖尿病  68.0    3.861     0.00      0.00
2   3   1  1979  42.1             无记录  98.0    5.713     0.00      3.53
3   4   0  1999  34.6             无记录  66.0    4.684     0.00      3.14
4   5   0  1997  27.7             无记录  89.0    7.948    14.65      2.65

In [10]:
train_df['糖尿病家族史'].value_counts()

无记录               572
叔叔或姑姑有一方患有糖尿病     228
父母有一方患有糖尿病        164
叔叔或者姑姑有一方患有糖尿病     36
Name: 糖尿病家族史, dtype: int64

In [11]:
dict_糖尿病家族史 = {'无记录': 0,'叔叔或姑姑有一方患有糖尿病': 1,'叔叔或者姑姑有一方患有糖尿病': 1,'父母有一方患有糖尿病': 2}

In [12]:
dict_糖尿病家族史

{'无记录': 0, '叔叔或姑姑有一方患有糖尿病': 1, '叔叔或者姑姑有一方患有糖尿病': 1, '父母有一方患有糖尿病': 2}

In [13]:
train_df['糖尿病家族史'] = train_df['糖尿病家族史'].map(dict_糖尿病家族史)
test_df['糖尿病家族史'] = test_df['糖尿病家族史'].map(dict_糖尿病家族史)

In [14]:
train_df

       编号  性别  出生年份  体重指数  糖尿病家族史   舒张压  口服耐糖量测试  胰岛素释放实验  肱三头肌皮褶厚度
0       1   0  1987  33.1       0  72.0    6.586    24.16      2.94
1       2   0  1998  20.6       1  68.0    3.861     0.00      0.00
2       3   1  1979  42.1       0  98.0    5.713     0.00      3.53
3       4   0  1999  34.6       0  66.0    4.684     0.00      3.14
4       5   0  1997  27.7       0  89.0    7.948    14.65      2.65
..    ...  ..   ...   ...     ...   ...      ...      ...       ...
995   996   1  1990  50.1       0  87.0    5.125     0.00      0.00
996   997   0  1992  56.3       0  87.0    7.695     0.00      0.00
997   998   1  1992  23.8       0  85.0    3.194     7.50      0.00
998   999   0  2000  53.1       0  95.0    8.226     7.55      0.00
999  1000   1  1980  46.9       0  88.0    4.802     0.00      0.00

[1000 rows x 9 columns]

In [15]:
train_df['舒张压'].mean()

89.63827549947423

In [16]:
test_df['舒张压'].mean()

89.42359527265188

In [17]:
train_df['舒张压'].fillna(89, inplace=True)
test_df['舒张压'].fillna(89, inplace=True)

In [18]:
model = make_pipeline(MinMaxScaler(),DecisionTreeClassifier())

In [19]:
X_train=train_df.drop(['编号'], axis=1)
y_train=train_df['编号']

In [20]:
X_train

     性别  出生年份  体重指数  糖尿病家族史   舒张压  口服耐糖量测试  胰岛素释放实验  肱三头肌皮褶厚度
0     0  1987  33.1       0  72.0    6.586    24.16      2.94
1     0  1998  20.6       1  68.0    3.861     0.00      0.00
2     1  1979  42.1       0  98.0    5.713     0.00      3.53
3     0  1999  34.6       0  66.0    4.684     0.00      3.14
4     0  1997  27.7       0  89.0    7.948    14.65      2.65
..   ..   ...   ...     ...   ...      ...      ...       ...
995   1  1990  50.1       0  87.0    5.125     0.00      0.00
996   0  1992  56.3       0  87.0    7.695     0.00      0.00
997   1  1992  23.8       0  85.0    3.194     7.50      0.00
998   0  2000  53.1       0  95.0    8.226     7.55      0.00
999   1  1980  46.9       0  88.0    4.802     0.00      0.00

[1000 rows x 8 columns]

In [21]:
model.fit(X_train,y_train)

Pipeline(steps=[('minmaxscaler', MinMaxScaler()),
                ('decisiontreeclassifier', DecisionTreeClassifier())])

In [22]:
test_df

        编号  性别  出生年份  体重指数  糖尿病家族史    舒张压  口服耐糖量测试  胰岛素释放实验  肱三头肌皮褶厚度  患有糖尿病标识
0        1   0  1996  30.1       0  106.0    3.818     7.89       0.0        0
1        2   0  1988  27.5       0   84.0   -1.000     0.00      14.7        0
2        3   1  1988  36.5       0   85.0    7.131     0.00      40.1        1
3        4   1  1992  29.5       0   91.0    7.041     0.00       0.0        0
4        5   0  1998  42.0       1   89.0    7.134     0.00       0.0        1
...    ...  ..   ...   ...     ...    ...      ...      ...       ...      ...
5065  5066   1  1992  36.4       2   95.0    3.102     0.00       0.0        0
5066  5067   1  1991  37.1       1   94.0    6.207     6.77       0.0        0
5067  5068   0  1975  25.4       0   90.0    7.343     0.00       0.0        0
5068  5069   0  1972  28.5       2  101.0    6.268     8.99       0.0        0
5069  5070   0  1976  49.9       0   88.0    3.732    29.71       0.0        1

[5070 rows x 10 columns]

In [23]:
X_test=test_df.drop(['编号','患有糖尿病标识'], axis=1)

In [24]:
X_test

      性别  出生年份  体重指数  糖尿病家族史    舒张压  口服耐糖量测试  胰岛素释放实验  肱三头肌皮褶厚度
0      0  1996  30.1       0  106.0    3.818     7.89       0.0
1      0  1988  27.5       0   84.0   -1.000     0.00      14.7
2      1  1988  36.5       0   85.0    7.131     0.00      40.1
3      1  1992  29.5       0   91.0    7.041     0.00       0.0
4      0  1998  42.0       1   89.0    7.134     0.00       0.0
...   ..   ...   ...     ...    ...      ...      ...       ...
5065   1  1992  36.4       2   95.0    3.102     0.00       0.0
5066   1  1991  37.1       1   94.0    6.207     6.77       0.0
5067   0  1975  25.4       0   90.0    7.343     0.00       0.0
5068   0  1972  28.5       2  101.0    6.268     8.99       0.0
5069   0  1976  49.9       0   88.0    3.732    29.71       0.0

[5070 rows x 8 columns]

In [25]:
test_df['label'] = model.predict(X_test)

In [26]:
test_df

,编号,性别,出生年份,体重指数,糖尿病家族史,舒张压,口服耐糖量测试,胰岛素释放实验,肱三头肌皮褶厚度,患有糖尿病标识,label
0,1,0,1996,30.1,0,106.0,3.818,7.89,0.0,0,857
1,2,0,1988,27.5,0,84.0,-1.000,0.00,14.7,0,70
2,3,1,1988,36.5,0,85.0,7.131,0.00,40.1,1,104
3,4,1,1992,29.5,0,91.0,7.041,0.00,0.0,0,947
4,5,0,1998,42.0,1,89.0,7.134,0.00,0.0,1,609
...,...,...,...,...,...,...,...,...,...,...,...
5065,5066,1,1992,36.4,2,95.0,3.102,0.00,0.0,0,967
5066,5067,1,1991,37.1,1,94.0,6.207,6.77,0.0,0,429
5067,5068,0,1975,25.4,0,90.0,7.343,0.00,0.0,0,496
5068,5069,0,1972,28.5,2,101.0,6.268,8.99,0.0,0,238
5069,5070,0,1976,49.9,0,88.0,3.732,29.71,0.0,1,585

In [27]:
test_df.rename({'编号': 'uuid'}, axis=1)[['uuid', 'label']].to_csv('submit.csv', index=None)